* {
  margin: 0;
  padding: 0;
  /* scroll-behavior: smooth; */

  /* 
    COLORS USED:  
  light - #e328ff
  dark - #300e4b
  blue - #5369e9

  alb -fefefe
  light pink: 6a4d72
  pretty pink: ad7ab9
*/

  --main-color: #a10074;
  --secondary-color: rgb(24, 12, 31);
  --white:#fefefe
  
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #e1e1e1;
  background-image: url("img/bg-smarthack.jpg");
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0 !important;
}

#euro {
  color: var(--main-color);
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: black;
}

.section,
.subSection {
  width: 100%;
}


#sponsori a {
  flex: 1;
  align-items: center;
}

#sponsori a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.section-colored {
  background-color: var(--main-color);
}

.img-optimize-contrast {
  image-rendering: -webkit-optimize-contrast;
}

#header {
  position: relative;
}

#header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 500ms ease;
}

#header .logo img {
  height: 50px;
  width: auto;
}

#header .logo.logoASMI>img {
  height: 40px;
}



#header nav a {
  letter-spacing: 2px;
  font-weight: 500;
}

#header nav img {
  height: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  display: block;
  max-width: 300px;
}

#header nav {
  height: 85px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  background-color:var(--secondary-color);
}

#header nav div#logoHeader {
  width: 30%;
  opacity: 1;
  transition: opacity 1s ease;
  cursor: pointer;
}

#header nav div.row ul#menu {
  width: 100%;
  margin: 0;
  display: flex;
  max-width: 100%;
  min-width: 100%;
}

#header nav div.row ul li {
  width: auto;
}
#header nav div.row ul li a:target{ 
  padding-top:70px; /* = to height of navbar */ margin-top:-70px; }
#header>nav {
  position: fixed;
  z-index: 1000;
  transition: background-color 300ms ease;
}
.inscriere{
  box-sizing: border-box;
  border: solid 4px var(--main-color);
  border-radius: 1rem;
  height: 2.9375rem!important;
}

.inscriere:hover{
  background-color: var(--main-color);
  color: #e1e1e1 !important;
}

#header>nav .row {
  height: 100%;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  position: relative;
}

#header>nav #menu {
  display: flex;
  justify-content: flex-end;
}

#header>nav #menu>li {
  display: flex;
  align-items: center;
  height: 100%;
}

#header>nav #menu>li>a {
  display: flex;
  height: 100%;
  padding: 0 2em;
  align-items: center;
  color: #e1e1e1;
  text-transform: uppercase;
  transition: all 300ms ease;
  cursor: pointer;
}

#header>nav #menu>li>a.sticky {
  color: var(--secondary-color) !important;
}

#header>nav #menu>li>a:hover {
  color: var(--main-color);
  /* background-color: #e1e1e1; */
}

#header>nav .hamburger {
  position: absolute;
  width: 60px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  right: 0;
  color: white;
  cursor: pointer;
  transition: all 500ms ease;
  display: none;
  
}

#header>nav .hamburger.sticky {
  color: var(--secondary-color);
}

#header #whiteBackground-gradient {
  width: 35%;
  height: 100%;
  background: #ffffff;
  /* Old browsers */
  background: #ffffff;
  /* Old browsers */
  background: -webkit-linear-gradient(#ffffff 0%,
      #ffffff 8%,
      #fcfcfc 16%,
      #e9e9ea 47%,
      #e1e1e1 65%,
      #e1e1e1 100%);
  background: -o-linear-gradient(#ffffff 0%,
      #ffffff 8%,
      #fcfcfc 16%,
      #e9e9ea 47%,
      #e1e1e1 65%,
      #e1e1e1 100%);
  background: linear-gradient(#ffffff 0%,
      #ffffff 8%,
      #fcfcfc 16%,
      #e9e9ea 47%,
      #e1e1e1 65%,
      #e1e1e1 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: absolute;
  left: 0;
  float: right;
}

#header #whiteBackground-gradient>div {
  position: relative;
  width: 100%;
  height: 100%;
}

#header #whiteBackground-gradient>div #whiteBackground {
  height: 100%;
  width: auto;
  position: absolute;
  left: 99%;
}

#header #section1-container {
  min-height: 100vh;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#header #section1-container .row {
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#big-logo {
  display: flex;
  align-items: center;
  margin-top: 100px;
}

#big-logo img {
  width: 68%;
  height: auto;
  margin: 0 auto;
  display: block;
}

#header #section1-container .row #section1-info {
  max-width: 35% !important;
  margin-right: 3%;
}

#header #section1-container .row #section1-info p,
#header #section1-container .row #section1-info h1,
#header #section1-container .row #section1-info h2 {
  color: #e1e1e1;
  margin: 0;
}

#header #section1-container .row #section1-info h1 {
  font-size: 4.5vw;
  font-weight: 400 !important;
}

#header #section1-container .row #section1-info h2 {
  font-size: 15vw;
  font-weight: 300 !important;
  line-height: 90%;
  margin-left: -3%;
}

#header #section1-container .row #section1-info p {
  font-size: 1.5vw;
  font-weight: 300;
}

#header #section1-container .row #section1-info span {
  color: var(--main-color);
}

#header #section1-container .row #section1-info h3,
#header #section1-container .row #section1-info h4 {
  width: 100%;
  color: #e1e1e1;
  text-align: center;
}

#header #section1-container .row #section1-info h3 {
  font-weight: 300;
  font-size: 2vw;
  line-height: 2.5vw;
  margin-left: -1vw;
}

#header #section1-container .row #section1-info h3 span {
  margin-left: 2vw;
  font-weight: 400;
}

#header #section1-container .row #section1-info h4 {
  font-size: 1.5vw;
}

#header #section1-container>.row #section1-info h4 i {
  color: var(--main-color);
  margin: 0 15px;
  font-size: 2vw;
}

#header #section1-container>.row:first-child {
  padding-bottom: 30px;
  margin-bottom: 60px;
  border-bottom: solid 5px var(--main-color);
}

/* #header #section1-container .row:nth-child(2){
  justify-content: left;
} */


#header #section1-container .row:nth-child(2) .timer {
  width: 70%;
  display: flex;
  /* justify-content: space-between; */
  padding-left: 0;
}

#header #section1-container .row:nth-child(2) .timer li {
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  text-transform: uppercase;
}

.premiu>div {
  margin: auto;
}

#header #section1-container .row:nth-child(2) .timer li>span {
  font-weight: 300;
  margin-right: 1em;
  text-align: left;
  align-items: left;
}

#header #section1-container .row:nth-child(2) .timer li>span:first-child {
  font-size: 300%;
  line-height: 100%;
  margin-bottom: 10px;
  /* margin-left: 0.5em; */

}

#header #section1-container .row:nth-child(2) .timer li>span:last-child {
  font-size: 100%;

  margin-left: 0%;
  padding: 0%;
  text-align: left;
}

.altePremii {

  font-size: larger;
}

#header #section1-container .row:nth-child(2) .button {
  box-sizing: border-box;
  width: 100%;
  padding: 1% 0;
  border: solid 5px var(--main-color);
  color: var(--main-color) !important;
  font-weight: 700;
  font-size: 2vw;
  cursor: pointer;
  display: block;
  max-width: 33%;
  margin-right: 4%;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  transition: background-color 300ms ease, border-color 300ms ease;
  border-radius: 1rem;
  background-color: #e1e1e188;
}

#header #section1-container .row:nth-child(2) .button:hover {
  border-color: #e1e1e1;
  background-color: #e1e1e1;
}

#start-concurs {
  font-weight: 300;
  font-size: 1.8vw;
  text-transform: none;
  color: var(--secondary-color);

}


#whiteBackground-substitution {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  /* Old browsers */
  background: #ffffff;
  /* Old browsers */
  background: -webkit-linear-gradient(#ffffff 0%,
      #ffffff 8%,
      #fcfcfc 16%,
      #e9e9ea 47%,
      #e1e1e1 65%,
      #e1e1e1 100%);
  background: -o-linear-gradient(#ffffff 0%,
      #ffffff 8%,
      #fcfcfc 16%,
      #e9e9ea 47%,
      #e1e1e1 65%,
      #e1e1e1 100%);
  background: linear-gradient(#ffffff 0%,
      #ffffff 8%,
      #fcfcfc 16%,
      #e9e9ea 47%,
      #e1e1e1 65%,
      #e1e1e1 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: none;
}

.mobile-info {
  display: none;
}


#section2-container {
  background-color: #e1e1e1;
  /*padding: 300px 2rem 60px 3rem;*/
  padding: 4rem 10rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#section2-container .row.goals-row {
  margin-bottom: 60px;
}

#section2-container .row.goals-row>div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#section2-container .row.goals-row>div>div>i {
  font-size: 4vw;
  margin-right: 15px;
  color: var(--secondary-color);
}

#section2-container .row.goals-row>div>div>i.fa-hourglass {
  font-size: 3.5vw;
}

#section2-container .row.goals-row>div>div>span {
  font-size: 4vw;
  color: var(--main-color);
}

.faq-card {
  padding-top: 20px;
  /* margin-top: 20px; */
  
  /* margin: 25px;  */
  /* hardcoded colors to match background gradient */
  /* first color is the one matching the background at the top of the card
      and second the one matching the background at the bottom of the card */
  background: linear-gradient(#ededee 0%, #e0e0e0 100%);
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* max-width: 40%; */
  height: 80%;
}

#section2-container .row.despre-row{
  padding: auto;
}

#section2-container .row.despre-row>div>div {
  margin-bottom: 60px;
  padding: 10px 30px;
}

#section2-container .row.despre-row>div>div>h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 24px;
  color: var(--main-color);
}

#section2-container .row.despre-row>div>div>p {
  text-align: center;
  color: #203442;
}

.section-where-when {
  background-color: var(--main-color);
  padding: 60px 0;
  color: white;
}

.section-where-when .container{
  width: fit-content;
}

.section-where-when h2 {
  text-align: center;
  margin-bottom: 30px;
}

.section-where-when h3 {
  font-size: 22px;
}

.section-where-when p {
  font-size: 18px;
}

.section-where-when h3:not(:first-child) {
  margin-top: 30px;
}

.section-where-when .program {
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px !important;
}

.section-where-when .program>li {
  display: flex;
}

.section-where-when .program>li .program-ora {
  width: 120px;
  max-width: 120px;
  min-width: 120px;
}

.section-where-when .program>li:last-child p {
  margin-bottom: 0;
}

.section2-location {
  text-align: center;
}

.section2-location a {
  color: white;
}

/* SECTION 3 STARTS HERE */

#section3 {
  padding: 60px 0;
  margin-top: -10px;
  background-color: #e1e1e1;
}

#section3 .container .row>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section3 .container .row h1 {
  padding-bottom: 15px;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
}

#section3 .container .row h1:before {
  content: "";
  width: 40%;
  border-bottom: solid 1px var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#section3 .container .row ul li p i {
  transition: transform 300ms ease;
  margin-right: 7px;
}

#section3 .container .row ul li:hover>p>i {
  transform: rotate(-45deg);
}

.color-orange {
  color: var(--main-color);
}

.text-light {
  color: #fcfcfc;
}

#section4 {
  background-image: url("img/bg-poster.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  z-index: 99;
}

#section4>p {
  width: 25%;
  margin: 0 auto;
  margin-top: 60px;
}

#section4 .prise {
  width: 50%;
  position: relative;
}

#section4 .prise .money {
  padding-top: 0;
  font-size: 10vw;
  line-height: 10vw;
  color: #fcfcfc;
}

#section4 .s-logo {
  color: var(--main-color);
  font-weight: bold;
  text-decoration: underline;
}

strong a {
  text-decoration: none;
  color: var(--main-color);
}

.faq-card>p>a {
  text-decoration: none;
  color: var(--main-color);
}

#section5 {

  /* font-size: x-large; */
  position: relative;
  padding-top: 50px;
  z-index: 99;
  min-height: 60%;
  background: #ffffff;
  /* Old browsers */
  background: -webkit-linear-gradient(#ffffff 0%,
      #ffffff 8%,
      #fcfcfc 16%,
      #e9e9ea 47%,
      #e1e1e1 65%,
      #e1e1e1 100%);
  background: -o-linear-gradient(#ffffff 0%,
      #ffffff 8%,
      #fcfcfc 16%,
      #e9e9ea 47%,
      #e1e1e1 65%,
      #e1e1e1 100%);
  background: linear-gradient(#ffffff 0%,
      #ffffff 8%,
      #fcfcfc 16%,
      #e9e9ea 47%,
      #e1e1e1 65%,
      #e1e1e1 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#section5>div {
  box-sizing: border-box;
  padding: 0 15px;
}

#section5 .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section5 h1,
#section5 h2,
#section5 p,
#section5 .teams-list {
  color: var(--secondary-color);
}

#section5 a {
  color: #4065b4 !important;
}

#section5 a:hover {
  text-decoration: underline !important;
}



#section5 .button-inscriere {
  box-sizing: border-box;
  padding: 1% 60px;
  border: solid 5px var(--main-color);
  color: var(--main-color) !important;
  font-weight: 700;
  font-size: 2vw;
  cursor: pointer;
  display: block;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
  transition: background-color 300ms ease, color 300ms ease;
}

#section5 .button-inscriere:hover {
  background-color: var(--main-color);
  color: white !important;
  text-decoration: none !important;
}




#section5 #background-sponsor {
  position: absolute;
  z-index: 90;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: 60%;
  background-repeat: no-repeat;
}

#section5 .container {
  position: relative;
  z-index: 99;
}

#section5 .container .partener-box>div {
  width: 100%;
  position: relative;
}

#section5 .container .partener-box>div>div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
  transform-style: preserve-3d;
  transition: background-color 300ms ease;
}

#section5 .container .partener-box>div>div>img {
  max-height: 100px;
  max-width: 80%;
  width: auto;
  transform: translateZ(50px);
}

#section5 .container .partener-box>div>div:hover {
  background-color: white;
}

#section5 .registration {
  background-color: darkblue;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  margin-top: 2rem;
}

#section5 .partener-box {
  margin: 1rem;
}

#section5 .partener-box a {
  color: white;
  text-decoration: none;
}

#section5 h2 {
  text-align: center;
}

#section5 .teams-list {
  width: 100%;
  text-align: center;
}

#section5 .teams-list>div {
  margin-bottom: 30px;
}

#section6 {
  min-height: 100%;
  padding-top: 40px;
  position: relative;
  z-index: 98;
  background-color: #e1e1e1;
}

#section6 h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 60px;
  padding-bottom: 15px;
  position: relative;
  color: var(--main-color);
}

#section6 h1:before {
  content: "";
  width: 200px;
  border-bottom: solid 1px var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#section6 h2 {
  text-transform: uppercase;
  font-size: 20px;
  width: 100%;
  text-align: center;
  color: var(--main-color);
  background-color: #e1e1e1;
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
}

#section6 h2>span {
  background-color: #e1e1e1;
  position: relative;
  z-index: 2;
  padding: 0 15px;
}

#section6 h2:after {
  content: "";
  position: absolute;
  top: 0.5em;
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  left: 0;
  z-index: 0;
}



#section6 section>a {
  margin: 1rem 1.5rem 3rem;
}

#section6 section img {
  max-height: 90px;
  max-width: 100%;
  vertical-align: middle;
}

.main-partners{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 2rem;
}
.main-partners a{
 
}

.main-partners a{
  margin-top: auto;
}

.innovation-partners{
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


@media (min-width: 758px) {
  .partners {
    margin-bottom: 1.5rem;
  }


  .innovation-partners {
    width: 100%;
  }

  .line2 {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .partners .innovation-partners>* {
    max-width: 10em;
    text-align: center;
  }


  .partners .innovation-partners>a>img {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

}

#section7 {
  background-image: url("img/bg-smarthack.jpg");
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

#section7>div {
  width: 100%;
  height: 100%;
  background-image: url("img/footer-white-background.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#section7>div h1 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
  display: inline-block;
  color: #e1e1e1;
}

#section7>div h1:before {
  content: "";
  width: 30%;
  border-bottom: solid 1px var(--main-color);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

#section7>div p {
  color: #e1e1e1;
  text-align: center;
  margin-bottom: 30px;
}

#section7>div i {
  color: var(--main-color);
  font-size: 60px;
  margin-right: 30px;
}

#section7>div i.fa-envelope {
  font-size: 52px;
}

#section7>div a,
#section7>div span {
  color: var(--main-color) !important;
  font-size: 24px;
}

#section7>div .contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 15%;
}

#section7>div .contact-links .contact-link {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  transition: background-color 300ms ease;
  cursor: pointer;
}

#section7>div .contact-links .contact-link:hover {
  background-color: #e1e1e1;
}

@media (max-width: 1200px) and (max-height: 700px) {
  #section1-container>.row:first-child {
    margin-bottom: 30px !important;
    padding-top: 60px;
  }
}

@media (min-width: 1600px) and (max-height: 900px) {
  #section1-container>.row:first-child {
    margin-bottom: 30px !important;
    padding-top: 60px;
  }
}

@media (min-width: 1200px) and (max-height: 800px) {
  #section1-container>.row:first-child {
    margin-bottom: 30px !important;
    padding-top: 60px;
  }
}

@media (max-width: 1200px) {

  body {
    background-image: url("img/bg-smarthackmobile.jpg");
    overflow-x: hidden;
    /* Varule, daca pui pe ambele axe nu mai poti da scroll in pa */

  }
  #section7 {
    background-image: url("img/bg-smarthackmobile.jpg");
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }

  #header nav {
    height: 80px;
  }

  #header nav a {
    letter-spacing: normal;
    font-weight: normal;
  }

  #header nav #menu>li>a {
    padding: 0 1.5em;
  }

  #start-concurs {
    font-size: 3vw;
  }
}

@media (min-width: 981px) and (max-width: 1200px) {
  #header nav {
    height: 70px !important;
  }

  #header nav #menu>li>a {
    height: 100%;
    padding: 0 1.5em;
    align-items: center;
  }


}


@media (min-width: 981px) {
 
  #header #section1-info {
    padding-top: 140px;
  }

  /* #header nav {
    background-color: #0a0f18e3;
  } */

  #amr{
    color: var(--secondary-color);
    padding: 0;
    margin-bottom: 2rem;
    
  }
  #header nav #menu {
    display: flex;
    justify-content: flex-end;
    height: 100% !important;
  }

  #header nav #menu>li {
    display: flex;
    align-items: center;
    height: 100%;
  }

  #section6 section>div {
    margin: 1rem 2rem;
  }
}

@media (max-width: 980px) {
  #header nav {
    background-color: var(--main-color);
    height: 4rem;
    padding:0;
  }
  #header nav .hamburger{
    
    height: 4rem;
    padding:0;
  }

  .main-partners>.row{
    width: 100%;
   
    
  }

  .main-partners>.row>a{
    padding-top: 20px;
    width: 80%;
    margin: auto;
    
  }

  .main-partners:nth-of-type(3)>.row>a:first-child{
    padding-top:10px; 
  }

  .main-partners:nth-of-type(3)>.row>a{
    padding-top:0;
    padding-bottom: 20px;
    
  }

  .main-partners:nth-of-type(1)>.row>a:first-child{
    padding-bottom: 20px;
    
  }

  
  #header nav div#logoHeader {
    overflow: hidden;
    width: 96px;
  }
  #header nav div#logoHeader>img {
    content: url("/img/logos/smarthack-wide-white-mobile.png");
  }

  #header nav #menu {
    position: absolute;
    padding: 0;
    display: flex;
    flex: 0;
    flex-direction: column;
    justify-content: flex-start;
    right: 15px;
    top: 0px;
    overflow: hidden;
    background-color: white;
    transition: all 300ms ease;
  }

  #header nav #menu>li {
    display: block;
  }

  #header nav #menu>li>a {
    height: 80px;
    padding: 0px 30px;
    color: var(--secondary-color) !important;
  }

  #header nav #menu>li.inscrie-te {
    height: auto;
  }

  #header nav .hamburger {
    display: flex;
  }

  #header nav .hamburger.active {
    color: var(--secondary-color);
    right: 15px;
  }

  #header nav .hamburger.active>i:before {
    content: "\f00d";
  }

  #section5 .container .partener-box {
    margin-bottom: 15px;
  }

  #section5 .container .partener-box>div>div {
    background-color: white;
  }

  #section5 .container .partener-box>div>div>a {
    margin-top: 30px !important;
  }
}

@media (max-width: 767px) {

  .logo,
  .logoASMI {
    display: none !important;
  }

  #whiteBackground-gradient {
    display: none;
  }

  #whiteBackground {
    display: none;
  }

  #header {
    height: auto !important;
    z-index: 101;
  }

  .mobile-info {
    display: block;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    min-height: 300px;
    padding: 60px 0;
  }

  .mobile-info>.container>.row {
    color: #e1e1e1;
  }

  .mobile-info>.container>.row>div h1,
  .mobile-info>.container>.row>div h2,
  .mobile-info>.container>.row>div h3 {
    font-weight: normal;
  }

  .mobile-info>.container>.row>div h1 {
    font-size: 11.5vw;
  }
  .mobile-info>.container>.row>div>a {
    /* content:url("https://inscriere.smarthack.asmi.ro/"); */
  }

  .mobile-info>.container>.row>div h1>span {
    color: var(--main-color);
  }

  .mobile-info>.container>.row>div h2 {
    font-size: 41.5vw;
    font-weight: 300;
    line-height: 35vw;
  }

  .mobile-info>.container>.row>div h2>span {
    color: var(--main-color);
  }

  .mobile-info>.container>.row>div h3 {
    text-align: center;
    font-size: 3vw;
  }

  .mobile-info>.container>.row>div h3>span {
    color: var(--main-color);
    margin-right: 30px;
    font-weight: 600;
  }

  .mobile-info>.container>.row>div h4 {
    text-align: center;
    font-size: 3vw;
    font-weight: 200;
    color: var(--main-color);
  }

  .mobile-info>.container>.row>div h4>a {
    color: var(--main-color);
  }

  .mobile-info>.container>.row>div h4 i {
    margin: 0 2vw;
    color: #e1e1e1;
  }

  .mobile-info>.container>.row>div h4 p {
    margin: 0 2vw;
    color: #e1e1e1;
  }


  .button-inscriere {
    display: table !important;
    margin: 60px auto 0 !important;
    font-size: 16px !important;
    color: var(--main-color) !important;
    font-weight: 600 !important;
    padding: 12px 60px !important;
    text-transform: uppercase;
    border: solid 4px var(--main-color);
    transition: all 300ms ease;
    border-radius: 1rem;
    background-color: #e1e1e188
  }

  .button-inscriere:hover {
    background-color: #e1e1e1 !important;
    border: solid 4px #e1e1e1 !important;
  }

  #start-concurs {
    font-size: 5vw;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  #header {
    min-height: 100%;
  }

  #section1-container {
    min-height: 100%;
  }
}

@media (max-width: 767px) {
  body>header {
    background-color: #e1e1e1;
  }

  #section1-container {
    position: relative !important;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  #section1-container>.row {
    margin: 0 0 60px 0 !important;
  }

  #section1-container>.row img {
    width: 50% !important;
  }

  #section1-container>.row #section1-info {
    display: none !important;
  }

  #section1-container>.row .button-inscriere {
    display: none !important;
  }

  #section1-container>.row:nth-child(2) {
    justify-content: center !important;
  }

  #section1-container>.row:nth-child(2) .timer>li>span:first-child {
    font-size: 6vw !important;
  }

  #section1-container>.row:nth-child(2) .timer>li>span:last-child {
    font-size: 2vw !important;
  }

  #section2-container {
    margin-top: 120px !important;
  }

  .section-where-when .row>div:not(:last-child) {
    margin-bottom: 30px;
  }

  #whiteBackground-substitution {
    display: initial !important;
  }

  .hamburger {
    color: var(--white) !important;
  }
  .hamburger.active {
    color: var(--secondary-color) !important;
  }


  .footer a,
  .footer span {
    font-size: 16px !important;
  }

  .footer i {
    font-size: 40px !important;
  }
}

@media (max-width: 480px) {
  #header #section1-container>.row:first-child {
    border-bottom: solid 4px var(--main-color);
  }

  #header #section1-container .timer {
    padding: 0;
  }

  #header #section1-container .timer>li>span:first-child {
    font-size: 10vw !important;
  }

  #header #section1-container .timer>li>span:last-child {
    font-size: 3vw !important;
  }

  #header #section1-container img {
    width: 80% !important;
    padding-bottom: 60px;
  }
  #header #section1-container .row{
  width: auto;
  }

  .mobile-info>.container div {
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-info h3,
  .mobile-info h4 {
    font-size: 5vw !important;

  }


  .mobile-info h3 span {
    position: relative;
  }

  .mobile-info h3 span:after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 2vw;
    height: 2vw;
    top: 30%;
    right: -5.3vw;
    transform: rotate(45deg);
  }

  .mobile-info .inscriere-button {
    width: 100% !important;
    text-align: center;
    padding: 16px 0 !important;
  }

  #section2-container {
    padding: 2rem;
  }


  #section2-container>.goals-row i,
  #section2-container>.goals-row span {
    font-size: 45px !important;
  }

  #section2-container>.goals-row>div {
    margin-bottom: 15px;
  }

  #section4 {
    height: auto !important;
    min-height: 50%;
    padding: 60px 0 30px;
  }

  #section4>p {
    width: 90%;
  }

  #section4 .section-title {
    top: 0px;
    padding: 30px;
    font-size: 2em;
    margin-bottom: 0;
  }
  #section4 .prise>div{
    display:flex;
    flex-direction: column;
  }

  #section4 .prise>div>*{
    text-align: center;
  }
  #section4 .prise>div>a{
    padding-top: 10%;
  }

  #section4 .prise>div>a>*{
    max-width: 60%;

  }


  #section4>div {
    flex-direction: column;
  }

  #section4>div .prise {
    width: 100%;
    /* padding: 60px 0; */
  }
  #section4>div>div>.money {
    /* width: 100%; */
    padding: 2rem 0;
  }

  #section4>div .prise .sau {
    display: table;
    left: 33%;
    right: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%);
  }

  #section5>div {
    padding-top: 60px;
  }

  #section5 .button {
    display: block;
    padding: 12px 0 !important;
    margin: 60px 0 0 !important;
    max-width: none !important;
    width: 85% !important;
  }

  #section5 .partener-box img {
    max-height: 60px !important;
    max-width: 100%;
  }

  #section6 h2:after {
    top: auto;
    bottom: -7px;
  }

  #section6 div {
    min-height: 100px !important;
  }

  #section7>div .contact-links .contact-link {
    padding: 12px 0 !important;
  }

  .innovation-partners a {
    max-width: 7em;
  }

  #sponsori a {
    flex: none;
    max-width: 7em;
  }
}

#top,
.scrollTop {
  top: 93%;
  right: 1.5%;
  bottom: 0;
  position: fixed;
  z-index: 999;
}

.scrollTop:hover {
  cursor: pointer;
}


/*# sourceMappingURL=main.css.map */

/* INSCRIERI CSS */

#socials {
  text-align: center;
}

#section5 p {
  margin-bottom: 20px;
}

.section-title {
  color: #e1e1e1;
  position: relative;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 70px;
  display: block;
}
#amr{
  color: var(--secondary-color);
  padding: 0;
  margin-bottom: 2rem;
}

#section5 .section-title {
  top: 60px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-container h2 {
  margin-bottom: 30px;
}

.card-container div ul {
  list-style-type: disc;
  list-style-position: inside;
}

.card-container div ul li {
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.registration-card {
  padding: 24px;
  margin: 30px;
  /* hardcoded colors to match background gradient */
  /* first color is the one matching the background at the top of the card
      and second the one matching the background at the bottom of the card */
  background: linear-gradient(#ededee 0%, #e0e0e0 100%);
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 90%;
}




.important-text {
  font-size: medium;
  font-weight: bold;
}

@media (max-width: 767px) {
  .card-container {
    flex-direction: column;
  }

  .registration-card {
    max-width: 100%;
  }

  .registration-card:nth-child(1) {
    background: linear-gradient(#f5f5f5 0%, #e1e1e1 100%);
  }

  .registration-card:nth-child(2) {
    background: linear-gradient(#e1e1e1 0%, #e1e1e1 100%);
  }
}

/* registration button */
/* ---BEGIN--- */

#center-button {
  text-align: center;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-7 {
  background-image: linear-gradient(to right, #300e4b, #e328ff, #e328ff, #5369e9);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

/* registration button */
/* ---END--- */


@media (min-width: 981px) {
  .secunde{
    display: none !important;
  }

}
